$icomoon-font-path: "fonts" !default;

$gi-file-text: "\e900";
$gi-file-text2: "\e901";
$gi-files-text: "\e902";
$gi-files-text2: "\e903";
$gi-picture: "\e904";
$gi-picture2: "\e905";
$gi-book: "\e906";
$gi-book2: "\e907";
$gi-clipboard: "\e908";
$gi-clipboard2: "\e909";
$gi-paperclip: "\e90a";
$gi-paperclip2: "\e90b";
$gi-folder: "\e90c";
$gi-folder2: "\e90d";
$gi-stats: "\e90e";
$gi-stats2: "\e90f";
$gi-pie-chart: "\e910";
$gi-pie-chart2: "\e911";
$gi-printer: "\e912";
$gi-printer2: "\e913";
$gi-briefcase: "\e914";
$gi-briefcase2: "\e915";
$gi-trash: "\e916";
$gi-trash2: "\e917";
$gi-sort-down: "\e918";
$gi-sort-down2: "\e919";
$gi-sort-up: "\e91a";
$gi-sort-up2: "\e91b";
$gi-list: "\e91c";
$gi-list2: "\e91d";
$gi-bubble: "\e91e";
$gi-bubble2: "\e91f";
$gi-bubble-text: "\e920";
$gi-bubble-text2: "\e921";
$gi-bubble-dots: "\e922";
$gi-bubble-dots2: "\e923";
$gi-bubbles: "\e924";
$gi-bubbles2: "\e925";
$gi-bubble3: "\e926";
$gi-bubble4: "\e927";
$gi-bubble5: "\e928";
$gi-bubble6: "\e929";
$gi-mail: "\e92a";
$gi-mail2: "\e92b";
$gi-letter: "\e92c";
$gi-letter2: "\e92d";
$gi-mail-open: "\e92e";
$gi-mail-open2: "\e92f";
$gi-paperclip3: "\e930";
$gi-paperclip4: "\e931";
$gi-user-menu: "\e932";
$gi-user-menu2: "\e933";
$gi-lock-opened: "\e934";
$gi-lock-opened2: "\e935";
$gi-lock: "\e936";
$gi-lock2: "\e937";
$gi-wrench: "\e938";
$gi-wrench2: "\e939";
$gi-gear: "\e93a";
$gi-gear2: "\e93b";
$gi-equalizer: "\e93c";
$gi-equalizer2: "\e93d";
$gi-compass: "\e93e";
$gi-compass2: "\e93f";
$gi-hourglass: "\e940";
$gi-hourglass2: "\e941";
$gi-location: "\e942";
$gi-location2: "\e943";
$gi-map: "\e944";
$gi-map2: "\e945";
$gi-trophy: "\e946";
$gi-trophy2: "\e947";
$gi-badge: "\e948";
$gi-badge2: "\e949";
$gi-photo: "\e94a";
$gi-photo2: "\e94b";
$gi-tablet: "\e94c";
$gi-tablet2: "\e94d";
$gi-screen: "\e94e";
$gi-screen2: "\e94f";
$gi-floppy: "\e950";
$gi-floppy2: "\e951";
$gi-list3: "\e952";
$gi-list4: "\e953";
$gi-sphere: "\e954";
$gi-sphere2: "\e955";
$gi-window: "\e956";
$gi-window2: "\e957";
$gi-star: "\e958";
$gi-star2: "\e959";
$gi-bell: "\e95a";
$gi-bell2: "\e95b";
$gi-bell3: "\e95c";
$gi-bell4: "\e95d";
$gi-icons: "\e95e";
$gi-icons2: "\e95f";
$gi-icons3: "\e960";
$gi-icons4: "\e961";
$gi-square-arrow-left: "\e962";
$gi-square-arrow-left2: "\e963";
$gi-square-arrow-right: "\e964";
$gi-square-arrow-right2: "\e965";
$gi-square-arrow-up: "\e966";
$gi-square-arrow-up2: "\e967";
$gi-square-arrow-down: "\e968";
$gi-square-arrow-down2: "\e969";
$gi-square-plus: "\e96a";
$gi-square-plus2: "\e96b";
$gi-square-minus: "\e96c";
$gi-square-minus2: "\e96d";
$gi-square-cancel: "\e96e";
$gi-square-cancel2: "\e96f";
$gi-square-checkmark: "\e970";
$gi-square-checkmark2: "\e971";
$gi-plus: "\e972";
$gi-plus2: "\e973";
$gi-minus: "\e974";
$gi-minus2: "\e975";
$gi-cancel: "\e976";
$gi-cancel2: "\e977";
$gi-checkmark: "\e978";
$gi-checkmark2: "\e979";
$gi-circle-chevron-left: "\e97a";
$gi-circle-chevron-left2: "\e97b";
$gi-circle-chevron-right: "\e97c";
$gi-circle-chevron-right2: "\e97d";
$gi-circle-chevron-up: "\e97e";
$gi-circle-chevron-up2: "\e97f";
$gi-circle-chevron-down: "\e980";
$gi-circle-chevron-down2: "\e981";
$gi-circle-arrow-left: "\e982";
$gi-circle-arrow-left2: "\e983";
$gi-circle-arrow-right: "\e984";
$gi-circle-arrow-right2: "\e985";
$gi-circle-arrow-up: "\e986";
$gi-circle-arrow-up2: "\e987";
$gi-circle-arrow-down: "\e988";
$gi-circle-arrow-down2: "\e989";
$gi-circle-plus: "\e98a";
$gi-circle-plus2: "\e98b";
$gi-circle-minus: "\e98c";
$gi-circle-minus2: "\e98d";
$gi-circle-cancel: "\e98e";
$gi-circle-cancel2: "\e98f";
$gi-circle-checkmark: "\e990";
$gi-circle-checkmark2: "\e991";
$gi-arrow-ccw: "\e992";
$gi-arrow-ccw2: "\e993";
$gi-sync: "\e994";
$gi-sync2: "\e995";
$gi-magnifier: "\e996";
$gi-magnifier2: "\e997";
$gi-zoom-in: "\e998";
$gi-zoom-in2: "\e999";
$gi-zoom-out: "\e99a";
$gi-zoom-out2: "\e99b";
$gi-cloud-download: "\e99c";
$gi-cloud-download2: "\e99d";
$gi-cloud-upload: "\e99e";
$gi-cloud-upload2: "\e99f";
$gi-delete: "\e9a0";
$gi-delete2: "\e9a1";
$gi-label: "\e9a2";
$gi-label2: "\e9a3";
$gi-undo: "\e9a4";
$gi-undo2: "\e9a5";
$gi-redo: "\e9a6";
$gi-redo2: "\e9a7";
$gi-resize-vertical: "\e9a8";
$gi-resize-vertical2: "\e9a9";
$gi-resize-horizontal: "\e9aa";
$gi-resize-horizontal2: "\e9ab";
$gi-expand: "\e9ac";
$gi-expand2: "\e9ad";
$gi-collapse: "\e9ae";
$gi-collapse2: "\e9af";
$gi-chevron-left: "\e9b0";
$gi-chevron-left2: "\e9b1";
$gi-chevron-right: "\e9b2";
$gi-chevron-right2: "\e9b3";
$gi-chevron-up: "\e9b4";
$gi-chevron-up2: "\e9b5";
$gi-chevron-down: "\e9b6";
$gi-chevron-down2: "\e9b7";
$gi-logo-pc: "\e9b8";
$gi-logo: "\e9b9";
$gi-accomdation: "\e9ba";
$gi-alarm: "\e9bb";
$gi-arrow-down: "\e9bc";
$gi-arrow-right: "\e9bd";
$gi-bus: "\e9be";
$gi-cart: "\e9bf";
$gi-category: "\e9c0";
$gi-close: "\e9c1";
$gi-home: "\e9c2";
$gi-jeju: "\e9c3";
$gi-local: "\e9c4";
$gi-my-coupon: "\e9c5";
$gi-my-menu: "\e9c6";
$gi-my-review: "\e9c7";
$gi-order-list: "\e9c8";
$gi-real_qna: "\e9c9";
$gi-search: "\e9ca";
$gi-ticket: "\e9cb";
$gi-zeropass: "\e9cc";
$gi-wishlist: "\e9cd";

